@import '../../variables.scss';

.product-card-class {
    margin: 15px 10px;
    padding: 5px;
    border: 0px solid $color-grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .card {
        padding: 10px;
        border: 0px;
    }
    
    .product-thumbnail {
        width: 90%;
        margin: auto;
    }

    .buy-now-button-span {
        text-align: center;
    }
}