@import '../../variables.scss';


.filter-section {
    border: 0.25px solid $color-light-grey;
    box-shadow: #d3d3d3;
    padding: 10px;
    margin: 10px;
    background-color: $color-white;
}

div.inner {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 3.5px;
}

div.outer {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid $color-light-grey;
    margin: 5px;
}

div.outer-circle {
    display: inline-block;
    height: 40px;
    width: 40px;
}

div.rectangle {
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 20px;
    border: 1px solid $color-light-grey;

    &.selected {
      background-color: $color-red;
      color: $color-white;
    }
}
.blue { background-color: $color-blue; }
.red { background-color: $color-red; }
.orange { background-color: $color-orange; }
.green { background-color: $color-green; }
.light-green { background-color: $color-light-green; }

.color-header, .size-header, .quantity-header {
  color: $color-light-grey;
}
