<div class="app-header">

  <div class="container-fluid header-container">

    <div  class="row header1">
      <div class="col-sm-3 application-name-div">
          Hi!
          <span *ngIf="loggedInUser">
              {{loggedInUser.email}}
          </span>
          <span *ngIf="!loggedInUser">
          <button type="button" class="btn btn-link font-weight-bold" (click)="onLogin()">Sign In</button>
          or
          <button type="button" class="btn btn-link font-weight-bold" (click)="onSignup()">Register</button>
        </span>
      </div>
      <div class="col-sm-9 application-name-div">
        <span class="menu-item">Daily deals</span>
        <span class="menu-item">Sell</span>
        <span class="menu-item">Help & Contact</span>
      </div>
      <div class="col-sm-2 application-name-div">
        <span class="float-right">
        </span>
      </div>
    </div>


    <div class="row header2">
      <div class="col-sm-2 application-name-div">
        <h2 class="application-name">SHOPMATE</h2>
      </div>
      <div class="col-sm-6">
        <span>
          <div class="row">
            <span class="menu-item" *ngFor="let item of menu">{{item}}</span>
          </div>
        </span>
      </div>
      <div class="col-sm-4 search-and-cart-div">
        <div class="row">
          <input type="text" class="form-control search-text" id="globalSearch" placeholder="search anything" [(ngModel)]="globalSearchText"
            (keyup)="onGlobalSearch($event)">
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <span class="cart-div" (click)="oncart()">
            <span *ngIf="cartCount > 0" class="badge badge-notify">{{cartCount}}</span>
            <i class="fa fa-shopping-bag"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
