<div class="login">
  <form >
    <div class="form-group">
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="pwd" placeholder="Password">
    </div>
    <div class="form-group form-check text-center">
      <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="rememberMe">
          <label class="custom-control-label" for="rememberMe">Remember</label>
        </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary red-button sign-in-button">Sign In</button>
    </div>

    <div class="sign-up-links">
      <button type="button" class="btn btn-link">Forgot password</button>
      <button type="button" class="btn btn-link float-right">Have an account</button>
    </div>
  </form>
</div>
