<div class="login">
  <form autocomplete="off">
    <div class="form-group">
      <input type="email" class="form-control" name="email" [ngClass]="{'error': error.email}"  placeholder="Email" [(ngModel)]="email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="pwd" [ngClass]="{'error': error.password}"  placeholder="Password" [(ngModel)]="password">
    </div>
    <div class="form-group form-check text-center">
      <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="rememberMe">
          <label class="custom-control-label" for="rememberMe">Remember</label>
        </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary red-button sign-in-button" (click)="onLogin()">Sign In</button>
    </div>

    <div class="sign-up-links">
      <button type="button" class="btn btn-link">Forgot password</button>
      <button type="button" class="btn btn-link float-right">Have an account</button>
    </div>
  </form>
</div>
