<div class="checkout">
  <h2>Checkout</h2>
  <div>
    <span>
      <div class="container-fluid checkout-states">
        <div class="row">
          <div *ngFor="let state of checkoutStates; let i = index" class="col-sm-3">
              <span [ngClass]="{'active-state': (i<=currentCheckoutForm)}">
                  <div class="fa fa-circle fa-1x"></div>
                  <div *ngIf="i < 3" class="box"></div>
                  <h3>{{state}}</h3>
                </span>
          </div>
        </div>
      </div>
      
    </span>
  </div>

  <app-checkout-user-form [checkoutUserForm]="checkoutUserForm" *ngIf="currentCheckoutForm == 0 && checkoutUserForm"></app-checkout-user-form>
  <app-checkout-confirmation [orderSummary]="" [cartItems]="cartItems" [cartItemsLoaded]="cartItemsLoaded" [checkoutUserForm]="checkoutUserForm" *ngIf="currentCheckoutForm == 1"></app-checkout-confirmation>
  <app-checkout-stripe [card]="paymentCard" [cardHolderName]="cardHolderName" *ngIf="currentCheckoutForm == 2"></app-checkout-stripe>
  <app-checkout-finish *ngIf="currentCheckoutForm == 3"></app-checkout-finish>

  <div class="action-button-div">
      <button type="submit" [disabled]="button.disablePrev" class="btn btn-primary red-button submit-button inverse" (click)="updateForm('B')">{{button.prev}}</button>
      <button type="submit" [disabled]="button.disableNext" class="btn btn-primary red-button submit-button float-right" (click)="updateForm('N')">{{button.next}}</button>
  </div>
</div>