<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <h2>QUESTIONS?</h2>
        <h3>Help</h3>
        <h3>Track Order</h3>
        <h3>Returns</h3>
      </div>

      <div class="col-sm-3">
        <h2>WHAT'S IN STORE</h2>
        <h3>Women</h3>
        <h3>Men</h3>
        <h3>Product A-Z</h3>
        <h3>Buy Gift Vouchers</h3>
      </div>

      <div class="col-sm-3">
        <h2>FOLLOW US</h2>
        <h3>Facebook</h3>
        <h3>Twitter</h3>
        <h3>YouTube</h3>
      </div>

      <div class="col-sm-3">
        <h3>@2016 shopmate ltd</h3>
      </div>

    </div>
  </div>

  <div class="container-fluid ">
    <div class="row">
      <div class="col-sm-12">
        <span>
          <div class="row">
            <span class="menu-item col-sm" *ngFor="let item of menu">{{item}}</span>
          </div>
        </span>
      </div>

      <div class="col-sm-12 text-center">
          <span>@2016 shopmate ltd</span>
          <span>.</span>
          <span>Contact</span>
          <span>.</span>
          <span>Privacy Policy</span>
      </div>
    </div>
  </div>

</div>
