<div class="sign-up">
    <form>
      <div class="form-group">
        <input type="email" name="email" class="form-control" [ngClass]="{'error': error.email}" id="email" [(ngModel)]="email" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" [ngClass]="{'error': error.password}" id="pwd" [(ngModel)]="password" placeholder="Password">
      </div>
      <div class="form-group">
          <input type="password" name="password1" class="form-control" [ngClass]="{'error': error.password1}" id="pwd1" [(ngModel)]="password1" placeholder="Re-type password">
      </div>
  
      <div class="text-center">
        <button type="submit" class="btn btn-primary red-button sign-up-button" (click)="onSignUp()">Sign Up</button>
      </div>
  
      <div class="sign-up-links text-center">
        Already member? <button type="button" class="btn btn-link">Sign In</button>
      </div>
    </form>
  </div>
  