<div class="sign-up">
    <form >
      <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="pwd" placeholder="Password">
      </div>
      <div class="form-group">
          <input type="password" class="form-control" id="pwd1" placeholder="Re-type password">
      </div>
  
      <div class="text-center">
        <button type="submit" class="btn btn-primary red-button sign-up-button">Sign Up</button>
      </div>
  
      <div class="sign-up-links text-center">
        Already member? <button type="button" class="btn btn-link">Sign In</button>
      </div>
    </form>
  </div>
  