@import '../../variables.scss';

.product-reviews {
    padding: 20px;
    margin: 20px;

    .header {
        padding-left: 20px;
    }

    .review-date {
        font-size: 12px;
        color: $color-light-grey;
    }

    .product-review-div {
        margin: 10px;
        padding: 10px;
        border-bottom: 1px solid $color-light-grey;
    }
}