<div class="product-reviews">
   
  <h2 class="header">Product reviews</h2>
  <div *ngFor="let review of reviewList; let i = index;" class="container-fluid product-review-div">
    <div class="row">
      <div class="col-sm-4">
          <app-star-rating [maxCount]="5" [value]="review.rating"></app-star-rating>
          <h3>{{review.name}}</h3>
          <div class="review-date">{{review.created_on | date: 'MMM dd, yyyy'}}</div>
      </div>
      <div class="col-sm-8">
        <p>{{review.review}}</p>
      </div>
    </div>
  </div>
  
</div>
