<div class="add-product-review">
    <div class="container-fluid">
        <h2>Add a reviews</h2>
        <div class="row">
            <div class="col-sm-3">
                <h3>Choose a nickname</h3>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control search-text" name="nickname" [(ngModel)]="nickName">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h3>Your review</h3>
            </div>
            <div class="col-sm-6">
                <textarea class="form-control" rows="5" name="review" [(ngModel)]="review"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h3>Overall rating</h3>
            </div>
            <div class="col-sm-6">
              {{rating}}
              <app-star-rating [readonly]="false" [maxCount]="5" [value]="-1" (valueChange)="onRatingChange($event)"></app-star-rating>
              <div class="submit-button-div">
                <button type="submit" class="btn btn-primary red-button submit-button" (click)="onReviewSubmit()">Submit</button>
              </div>
            </div>
        </div>
    </div>
</div>
