.add-product-review {
    padding: 20px;
    margin: 20px;

    #nickname {
        width: 300px;
    }

    .row {
        padding: 10px 0px;
    }

    .submit-button-div {
        margin-top: 20px;
    }
}