/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 @import '../../variables.scss';

 .card-holder-name-section, .card-details-section {
  padding: 20px 0px 0px 20px;

  .cvv-note {
    padding: 10px 20px;
    h3 {
      color: $color-grey;
    }
  }
 }

 .StripeElement {
    box-sizing: border-box;
    width: 50%;
    min-width: 400px;
    height: 40px;
    border: 1px solid $color-light-grey;
  
    padding: 10px 12px;
  
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }